/*
|--------------------------------------------------------------------------
| Grid
|--------------------------------------------------------------------------
*/

$grid-column: 24;

@for $i from 1 through $grid-column{

		%grid-#{$i} {
		width: 100% / $grid-column * $i;
		float:left;
		}

} 

/*
|--------------------------------------------------------------------------
| Grid Offset
|--------------------------------------------------------------------------
*/

@for $j from 1 through $grid-column{
		%grid-left-#{$j} {
			margin-left: 100% / $grid-column * $j;
		}
}

@for $l from 1 through $grid-column{
		%grid-right-#{$l} {
			margin-right: 100% / $grid-column * $l;
		}
}
